<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          Task List
          <a class="reverse" href="#"><i class="fa fa-refresh"></i></a>
        </div>
        <table class="table table-striped table-hover">
          <tr>
            <th></th>
            <th>Task</th>
            <th>Coords</th> 
            <th>Status</th>
            <th>Due Date</th>
            <th>Assignee</th> 
            <th>Product quantity planned (gallons)</th>
            <th>Product quantity applied (gallons)</th>
          </tr>
          <tr ng-repeat="products in products | filter:query">
            <td><i class="fa {{products.icon}}"></i></td>
            <td>{{products.name}}</td>
            <td><a href="http://maps.google.com/?ie=UTF8&hq=&ll={{products.coords}}&z=13">{{products.coords}}</a></td> 
            <td>{{overdue(products.due, products.status);}}</td> 
            <td>{{products.due | date:'MM/dd/yyyy' }}</td> 
            <td>{{products.assignee}}</td> 
            <td>{{products.planned}}</td> 
            <td>{{products.applied}}</td> 
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

